/* Global customization */

:root {
    --code-max-height: 60rem;
}

.gdoc-footer {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .gdoc-header {
        display: none;
    }

    .backToTop {
        position: fixed;
        bottom: 10px;
        right: 1%;
        max-width: 50px;
        width: 100%;
        font-size: 13x;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100, 100, 100);
        padding: .5px;
        border-radius: 4px;
    }

    /*On Hover Color Change*/
    .backToTop:hover {
        background-color: #4ec58a;
    }

    .backTop {
        width: 3rem !important;
        height: 3rem !important;
    }
}

.gdoc-nav--main>.gdoc-nav__list {
    overflow-y: auto;
    height: 100vh;
}

/* Light mode theming */
:root,
:root[color-theme="light"] {
    --header-background: #4ec58a;
    --header-font-color: #ffffff;

    --body-background: #343a40;
    --body-font-color: #ced3d8;

    --mark-color: #ffab00;

    --button-background: #62cb97;
    --button-border-color: #4ec58a;

    --link-color: #7ac29e;
    --link-color-visited: #c27a9e;

    --code-background: #2f353a;
    --code-accent-color: #262b2f;
    --code-accent-color-lite: #2b3035;
    --code-font-color: #b9b9b9;

    --code-copy-background: #343a40;
    --code-copy-font-color: #6b7784;
    --code-copy-border-color: #6b7784;
    --code-copy-success-color: #37905c;

    --accent-color: #2b3035;
    --accent-color-lite: #2f353a;

    --control-icons: #b2bac1;

    --footer-background: #112b3c;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;
}

@media (prefers-color-scheme: light) {
    :root {
        --header-background: #4ec58a;
        --header-font-color: #ffffff;

        --body-background: #343a40;
        --body-font-color: #ced3d8;

        --mark-color: #ffab00;

        --button-background: #62cb97;
        --button-border-color: #4ec58a;

        --link-color: #7ac29e;
        --link-color-visited: #c27a9e;

        --code-background: #2f353a;
        --code-accent-color: #262b2f;
        --code-accent-color-lite: #2b3035;
        --code-font-color: #b9b9b9;

        --code-copy-background: #343a40;
        --code-copy-font-color: #6b7784;
        --code-copy-border-color: #6b7784;
        --code-copy-success-color: #37905c;

        --accent-color: #2b3035;
        --accent-color-lite: #2f353a;

        --control-icons: #b2bac1;

        --footer-background: #112b3c;
        --footer-font-color: #ffffff;
        --footer-link-color: #ffcc5c;
        --footer-link-color-visited: #ffcc5c;
    }
}

/* Dark mode theming */
:root[color-theme="dark"] {
    --header-background: #4ec58a;
    --header-font-color: #ffffff;

    --body-background: #343a40;
    --body-font-color: #ced3d8;

    --mark-color: #ffab00;

    --button-background: #62cb97;
    --button-border-color: #4ec58a;

    --link-color: #7ac29e;
    --link-color-visited: #c27a9e;

    --code-background: #2f353a;
    --code-accent-color: #262b2f;
    --code-accent-color-lite: #2b3035;
    --code-font-color: #b9b9b9;

    --code-copy-background: #343a40;
    --code-copy-font-color: #6b7784;
    --code-copy-border-color: #6b7784;
    --code-copy-success-color: #37905c;

    --accent-color: #2b3035;
    --accent-color-lite: #2f353a;

    --control-icons: #b2bac1;

    --footer-background: #112b3c;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-background: #4ec58a;
        --header-font-color: #ffffff;

        --body-background: #343a40;
        --body-font-color: #ced3d8;

        --mark-color: #ffab00;

        --button-background: #62cb97;
        --button-border-color: #4ec58a;

        --link-color: #7ac29e;
        --link-color-visited: #c27a9e;

        --code-background: #2f353a;
        --code-accent-color: #262b2f;
        --code-accent-color-lite: #2b3035;
        --code-font-color: #b9b9b9;

        --code-copy-background: #343a40;
        --code-copy-font-color: #6b7784;
        --code-copy-border-color: #6b7784;
        --code-copy-success-color: #37905c;

        --accent-color: #2b3035;
        --accent-color-lite: #2f353a;

        --control-icons: #b2bac1;

        --footer-background: #112b3c;
        --footer-font-color: #ffffff;
        --footer-link-color: #ffcc5c;
        --footer-link-color-visited: #ffcc5c;
    }
}